<!DOCTYPE html>
<html>
<head>
    <title>Walter Roman</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
    <style type="text/css">
        #app {
            max-width: 60rem;
            margin: 0 auto;
        }

        .button {
            width: 5rem;
        }

        .multiplier-field {
        }

        input[type="text"] {
            width: 5rem;
            display: inline-block;
            text-align: center;
        }

    </style>
</head>
<body class="text-center">
    <div class="row" id ="app" >
        <div class="column small-12">
            <br />
            <h1>Character Counts</h1>
            <div>Get character count for every string in a JSON object</div>
            <br />
            <br />
            <textarea  v-model="input" placeholder="Insert valid JSON here." rows="6"></textarea>
            <div class="multiplier-field">
                <label for="multiplier">Multiplier</label>
                <input type="text" v-model="multiplier" id="multiplier" />
                <br />
            </div>
            <button v-on:click="processJSON()" class="button">
              Submit
            </button>
            <table v-if="output !== null">
                <thead>
                    <tr>
                        <td class="text-center">Flattened Key</td>
                        <td class="text-center">Original Char. Count</td>
                        <td class="text-center">New Char. Count</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="val in output">
                        <td>{{ val.key }}</td>
                        <td>{{ val.oldLength }}</td>
                        <td>{{ val.newLength }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script type="text/javascript" src="./index.js"></script>

</body>
</html>
